.GForm_Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.GForm_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    flex-basis: content;
    width: 80%;
}

.GForm_Button {
    width: 35%;
}