.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#poubelle{
    font-family: "Arial";
    background-color: white;
    border-radius: 5px;
    width:90%;
    padding: 3px;
}
#trash{
    width:100%;
    min-width:320px;
    display:flex;
    justify-content: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section{
    min-width:320px;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    background: url('/src/img/eco.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#root{
    min-width: 320px;
    width: 100%;
}

main {
    width: 100%;
    min-width:320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-width:320px;
}

input {
    display: flex;
    margin: 0;

    outline: 0;
    width: 90%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: flex;
    
    outline: 0;
    width: 90%;
    border: 0;
    padding: 0px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    min-width: 100px;
}


textarea {
    display: flex;
    width: 90%;

    outline: 0;
    width: 90%;
    height: 150px;
    border: 0;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    min-width:320px;
    border: 0;
    
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
}

.logo {
    margin-right:auto;
}

.btn_group{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}

.btn {
    border-color: black;
    background-color: #008f00;
    min-width:60px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: white;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.btn:hover{
    background-color: #006600;
}

.active {
    border-color: black;
    background-color: white;
    min-width:60px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: #008f00;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.active:hover{
    background-color: lightgray;
}

a {
    text-decoration: none;
}

.infos_case{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    margin-left:10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    align-content:center;
}

.footer{
    background-color: #008f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:50px;
    color: white;
    margin-top:10px;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.contact:hover{
    color: lightgray;
}

.flex{
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    border: 0;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    flex-flow:column;
    padding:0px;
    margin-top: 10px;
}

.FormGroup{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:100%;

    font-size: 17px;
    flex-flow:column;
    padding:0px;
    margin:0px;
    background-color: white;
}

.form_container{
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 0;

    width: 100%;
    border: 0;

    font-size: 17px;
    flex-flow:column;
}

label{
    width:90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    margin-top: 10px;
}
button{
    margin:5px;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*////////////MENU BURGER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.burger {
    font-size: 50px;
    text-decoration: none;
    color: #008f00;
    display: flex;
    justify-content: right;
    margin-top: 0px;
    margin-left: auto;
}
.burger:hover {
    color:#006600;
}

.form_picture {
    display:none;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
    margin-top:10px;
    background-color: white;
    border-radius: 5px;
    width: 95%;
}
.infos_icon {
    width:50px;
    height:50px;
}
ul>li{
    list-style-type: none;
}
ul{
    padding-left: 10px;
    padding-right: 10px;
}
span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/* BURGER -> MENU /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 10%;
    height: 3.5rem;
    margin-left: 30px;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: scaleX(0.9);
}

#menu__toggle:checked + .menu__btn > span::before {
    transform: rotateZ(45deg) scaleX(0.6) translate(20px, -10px);
}
#menu__toggle:checked + .menu__btn > span::after {
    transform: rotateZ(-45deg) scaleX(0.6) translate(20px, 10px);
}
#menu__toggle:checked ~ .menu__box, #menu__toggle:checked ~ .menu_img {
    right: 0 !important;
}

/* Design */ 
.menu__btn {
    display: flex;
    align-items: center;
    width: 40%;
    height: 2.5rem;
    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #008f00;
    transition-duration: .4s;
}

.menu__btn > span::before {
    content: '';
    top: -10px;
}

.menu__btn > span::after {
    content: '';
    top: 4px;
}

/*///////*/

.menu_img {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100%;
    padding: 80px 0;
    list-style: none;
    opacity: 0.9;
    background: rgb(218, 230, 218);
    filter: blur(4px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 20%;
    height: 100%;
    padding: 80px 0;
    list-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #cfd8dc94;
}

.msg_cont {
    margin-top: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: x-large;
    background-color: rgb(184, 228, 158);
    border-radius: 10px;
}

.ty-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ty-msg > p {
    text-align: center;
}