$initial-color: rgb(112, 112, 112);
$focus-color: #2962ff;

.inputbox {
    padding-top: 20px;
    &-content {
        position: relative;

        input {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 1px solid $initial-color;
            -webkit-appearance: none;

            &:focus, &:valid {
                &~label {
                    color: $focus-color;
                    transform: translateY(-20px);
                    font-size:0.825em;
                }
            }

            // &:not(:focus) {
            //     &~label {
            //         color: $initial-color;
            //     }
            // }

            &:focus {
                &~.underline-animation {
                    width: 100%;
                }
            }
        }

        select {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 1px solid $initial-color;
            -webkit-appearance: none;

            &:focus, &:valid {
                &~label {
                    color: $focus-color;
                    transform: translateY(-20px);
                    font-size:0.825em;
                }
            }

            &:focus {
                &~.underline-animation {
                    width: 100%;
                }
            }

            textarea {
                width: 100%;
                height: 30px;
                box-sizing: border-box;
                border: none;
                background: none;
                border-bottom: 1px solid $initial-color;
                -webkit-appearance: none;

                // &:focus, &:valid {
                //     &~label {
                //         color: $focus-color;
                //         transform: translateY(-20px);
                //         font-size:0.825em;
                //     }
                // }

                // &:focus {
                //     &~.underline-animation {
                //         width: 100%;
                //     }
                // }
            }
        }

        label {
            position: absolute;
            margin-top: 5px;
            width: 66%;
            top:0;
            left:0;
            color: $initial-color;
            transition: all 250ms ease-out;
            z-index: 1;
            display: block;
            pointer-events: none;
        }

        .underline-animation {
            position: absolute;
            bottom: 0;
            left:0;
            width: 0;
            height: 2px;
            background: $focus-color;
            transition: all 225ms ease-out;
        }
    }
}

.button {
    display: inline-block;
    position: relative;
    pointer-events: auto;
    flex-basis: content;
    color: #fff;
    background: $focus-color;
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 3vh;
    font-family: inherit;
    font-size: inherit;

    &::before, &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 103%;
        height: 103%;
    }
}

.button--mimas {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    background: $initial-color;

    span {
        position: relative;
        mix-blend-mode: difference;
        color:#fff;
    }
}

.button_anime {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    background: black;
    

    span {
        position: relative;
        mix-blend-mode: difference;
        color: #fff;
    }

    &::before {
        content: '';
        background: $initial-color;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 1.3s cubic-bezier(0.3, 1, 0.8, 1);
        animation: move 4s forwards;
    }

    &:hover {
        box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.432);
        transition: .4s ease-in-out;
    }
}

@keyframes move {
    0% {
        left: -10%;
    }
    100% {
        left: 120%;
        background-color: black;
    }
}

.button_return {
    display: inline-block;
    position: relative;
    pointer-events: auto;
    flex-basis: content;
    color: #fff;
    background: black;
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 3vh;
    font-family: inherit;
    font-size: inherit;

    &::before, &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 103%;
        height: 103%;
    }
}

.button_anime_back {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.85rem;
    border-radius: 0.5rem;
    overflow: hidden;
    color: #fff;
    cursor: pointer;
    background: black;
    

    span {
        position: relative;
        mix-blend-mode: difference;
        color: #fff;
    }

    &::before {
        content: '';
        background: black;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 1.3s cubic-bezier(0.3, 1, 0.8, 1);
        animation: moveback 4s forwards;
    }
}

@keyframes moveback {
    0% {
        left: 120%;
    }
    100% {
        left: -10%;
        background-color: $initial-color;
    }
}

div[disabled] {
    pointer-events: none;
    opacity: 0.4; 
}