.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 84vh;
    transition-delay: 1.3s;
    transition-duration: 0.4s;
    background-color: rgb(33, 53, 70);

    &-box {
        display: flex;
        flex-flow: row wrap;
        width: 55%;
        height: 55vh;
        border-radius: 10px;
        flex-basis: auto;

        & > div.picture-wrapper {
            width: 45%;

            & > img.picture {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 9.5px 0 0 9.5px;
            }
        }

        & > div.form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55%;
            background-color: rgb(184, 228, 158);
            box-shadow: -8px 0 8px -3px black;
            border-radius: 0 9.5px 9.5px 0;

            & > form.form {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-flow: column;
                flex-basis: auto;
                width: 80%;
                height: 90%;

                & > .form-title {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;
                }

                & > .form-fields {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-flow: column;
                    flex-basis: content;
                    width: 100%;

                    & > .form-field {
                        width: 90%;
                    }
                }

                & > .form-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                }
            }
        }
    }
}

@import "./formContent.scss";