$initial-color: rgb(112, 112, 112);
$focus-color: #2962ff;

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 20%;

    & > .controller {
        display: none;

        &:checked ~ .slider {
            background-color: rgb(55, 168, 172);
            
            & > .slider-box {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }

                & > .ball {
                    left: -20px;
                    padding: 50%;
                    background-color: rgb(55, 168, 172);
                }
            }
        }
    }

    & > .slider {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        width: 40%;
        height: 30px;
        background-color: #213546;
        border-radius: 20px;
        border: solid 3px rgb(55, 168, 172);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
        transition: 1s cubic-bezier(0.18, 0.89, 0.35, 1.15);
        
        cursor: pointer;

        & > .slider-box {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;

            &:before, &:after {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                color: #fff;
            }

            &:before {
                position: absolute;
                content: attr(data-off);
                right: calc(0% + 15%);
                transition: 0.7s cubic-bezier(0.18, 0.89, 0.35, 1.15);
                color: rgb(55, 168, 172);
            }

            &:after {
                opacity: 0;
                display: flex;
                content: attr(data-on);
                transition: 0.8s cubic-bezier(0.18, 0.89, 0.35, 1.15);
                z-index: 1;
            }

            & > .ball {
                position: absolute;
                padding: 13%;
                left: 4%;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.726);
                transition: 1.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
            }
        }
    }
}

.inputbox {
    padding-top: 20px;
    width: 80%;
    &-content {
        position: relative;

        input {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 1px solid $initial-color;
            -webkit-appearance: none;

            &:focus, &:valid {
                &~label {
                    color: $focus-color;
                    transform: translateY(-20px);
                    font-size:0.825em;
                }
            }

            // &:not(:focus) {
            //     &~label {
            //         color: $initial-color;
            //     }
            // }

            &:focus {
                &~.underline-animation {
                    width: 100%;
                }
            }
        }
        
        select {
            width: 100%;
            height: 30px;
            box-sizing: border-box;
            border: none;
            background: none;
            border-bottom: 1px solid $initial-color;
            -webkit-appearance: none;

            &:focus, &:valid {
                &~label {
                    color: $focus-color;
                    transform: translateY(-20px);
                    font-size:0.825em;
                }
            }

            &:focus {
                &~.underline-animation {
                    width: 100%;
                }
            }

            textarea {
                width: 100%;
                height: 30px;
                box-sizing: border-box;
                border: none;
                background: none;
                border-bottom: 1px solid $initial-color;
                -webkit-appearance: none;

                // &:focus, &:valid {
                //     &~label {
                //         color: $focus-color;
                //         transform: translateY(-20px);
                //         font-size:0.825em;
                //     }
                // }

                // &:focus {
                //     &~.underline-animation {
                //         width: 100%;
                //     }
                // }
            }
        }

        label {
            position: absolute;
            margin-top: 5px;
            width: 66%;
            top:0;
            left:0;
            color: $initial-color;
            transition: all 250ms ease-out;
            z-index: 1;
            display: block;
            pointer-events: none;
        }

        .underline-animation {
            position: absolute;
            bottom: 0;
            left:0;
            width: 0;
            height: 2px;
            background: $focus-color;
            transition: all 225ms ease-out;
        }
    }
}

.button {
    padding: 7px 30px;
    border-radius: 20px;
    border: solid 3px rgb(192, 192, 192);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
    font-size: small;
    text-align: center;
    text-transform: uppercase;
    background-color: #5f5f5f;
    color: rgb(143, 143, 143);
    transition: 0.3s ease-in-out;
}

.valid {
    background-color: #213546;
    color: rgb(55, 168, 172);
    border: solid 3px rgb(55, 168, 172);
    cursor: pointer;
    
    &:hover {
        background-color: rgb(55, 168, 172);
        color: white;
        transform: scale(1.03);
    }
}

div[disabled] {
    pointer-events: none;
    opacity: 0.4; 
}

.form-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;

        & > .content-d {
            width: 80%;
            transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
            appearance: none;
            background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
            border: 0.1px solid rgb(77, 68, 92);
            font-size: 15px;
            padding: 5px 5px 5px 10px;
            border-radius: 15px;
            color: white;
            box-sizing: border-box;

            &:focus {
                outline: none;
                color: white;
                margin-top: 15px;
            }

            &:valid {
                margin-top: 15px;
            }

            &:focus ~ label {
                transform: translate(0, -17.5px)
            }
            
            &:valid ~ label {
                transform: translate(-5px, -17.5px) scale(0.75);
            }

            & ~ label {
                width: 100%;
                left: 10%;
                justify-self: flex-end;
                transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
                transform-origin: left;
                position: absolute;
                color: #d8d8d8b0;
                font-weight: 100;
                letter-spacing: 0.05em;
                font-size: 15px;
                padding: 10px 15px;
                display: block;
                pointer-events: none;
                z-index: 1;
            }
        }
    }
}