.forms {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;

    width: 100%;
    min-height: 84vh;
    height: 100%;
    transition-delay: 1.3s;
    transition-duration: 0.4s;
    padding: 90px 0 0 0;

    &-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 70%;
        height: 80%;
        flex-basis: auto;

        & > .form-title {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }

        & > div.form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: 100%;

            & > form.form {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-flow: column;
                flex-basis: auto;
                width: 100%;
                height: 80%;

                & > .form-field {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-flow: column;
                    flex-basis: content;
                    width: 100%;
                    height: 70%;
                }

                & > .form-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-self: flex-end;
                    width: 40%;
                    height: 20%
                }
            }
        }
    }
}

@import "./formContent.scss";