.CForm_Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.CForm_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    flex-basis: content;
    width: 80%;
}

.CForm_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.text_content {
    width: 100%;
}