.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    /* background: url('/src/img/eco.jpg') no-repeat center center fixed; */
    background: fixed beige;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.root{
    display: flex;
    flex-flow: column wrap;
    min-width: 320px;
    width: 100%;
    height: 100%;
}

/* Nav */

.nav_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.burger {
    font-size: 4rem;
    color: #008f00;
}

.burger:hover {
    color:#006600;
}

/* Menu */

.form_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn_group {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 10px;
}

.btn_container {
    width: 15%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    text-decoration: none !important;
    border-radius: 3px;
    font-size:larger;
    color: white;
}

.active {
    background-color: white;
    color: black;
}

.active:hover {
    background-color: lightgray;
    color: black;
}

.inactive {
    background-color: #008f00;
}

.inactive:hover{
    background-color: #006600;
    color: lightgray;
}

/* Home */

.home_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.form_infos {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: rgb(150, 201, 120);
    border-radius: 10px;
    border: 1px solid black;
}

.form_infos > ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    margin: 0;
    padding: 10px 0 10px 0;
}

.infos_case {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.infos_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.infos_icon {
    width: 90%;
}

.infos_text_container {
    width: 75%;
    font-size: large;
}

.solid {
    width: 99.8%;
    border-top: 0.5px solid rgb(0, 0, 0);
    margin: 10px 0 10px 0;
}

/* Form */

.core_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.form_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.form_template {
    display: flex;
    flex-flow: row wrap;
    width: 70%;
    box-shadow: 0 0 0 1px black;
    border-radius: 10px;
}

.form_style {
    width: 45%;
}

.form_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9.5px 0 0 9.5px;
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    background-color: rgb(150, 201, 120);
    box-shadow: -8px 0 8px -3px black;
    border-radius: 0 9.5px 9.5px 0;
    flex-basis: auto;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    flex-basis: auto;
    width: 80%;
    height: 90%;
}

/* Footer */

.footer_container {
    position: fixed;
    width: 100%;
    height: 6vh;
    bottom: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height:50px;
    background-color: #008f00;
}

.contact {
    width: 100%;
    color: white;
}

.contact:hover{
    color: lightgray;
}

input:focus {
    outline: none;
}