/* .SForm_Title {
    display: flex;
    align-items: center;
    justify-content: baseline;
} */

.SForm_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 70%;
    height: 55%;
}

.SForm_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}

.form_name {
    width: 70%;
}

.form_material {
    width: 70%;
}

.form_coord {
    width: 70%;
}

.form_coord_zip {
    width: 70%;
}

.form_coord_city {
    width: 70%;
}


.input_name {
    width: 100%;
}

.select_mat {
    width: 100%;
}

.input_zip {
    width: 100%;
}

.select_city {
    width: 100%;
}


/* .T_form_coord {
    display: none;
    flex-flow: column wrap;
} */

select option {
    color: black;
}

select:invalid, select option[value="default"] {
    color: #999999;
}

.invalidP, .invalidL, .invalidE, .invalidTA {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
    transition: .3s ease-in-out;
}

.validP, .validL, .validE, .validTA {
    transition: all .3s ease-in-out;
}

.validP:focus, .validL:focus, .validE:focus, .validTA:focus {
    border-color: rgb(33, 130, 241);
    box-shadow: 0 0 5px rgb(33, 130, 241);
}











/* #poubelle{
    font-family: "Arial";
    background-color: white;
    border-radius: 5px;
    width:90%;
    padding: 3px;
}
#trash{
    width:100%;
    min-width:320px;
    display:flex;
    justify-content: center;
}

section{
    min-width:320px;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

main {
    width: 100%;
    min-width:320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

input {
    display: flex;
    margin: 0;

    outline: 0;
    width: 90%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: flex;
    
    outline: 0;
    width: 90%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    min-width: 100px;
}

textarea {
    display: flex;
    width: 90%;

    outline: 0;
    width: 90%;
    height: 150px;
    border: 0;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

a {
    text-decoration: none;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin:auto;
    outline: 0;
    max-width: 300px;
    width: 100%;
    border: 0;

    font-size: 17px;
    flex-flow:column;
}

label{
    width:90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    margin-top: 10px;
}
button{
    margin:5px;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

