.TForm_Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.TForm_Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    flex-basis: content;
    width: 80%;
    /* height: 80%; */
}

.TForm_Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
}