.forms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    min-height: 84vh;
    height: 100%;
    transition-delay: 1.3s;
    transition-duration: 0.4s;
    padding: 90px 0 0 0;

    & > .form-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: flex-start;
        flex-direction: column;
        color: white;
        width: 40%;
        height: 26%;
        padding: 0px 10% 0px 4%;
    }

    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
        height: 80%;
        flex-basis: auto;
        background-position: 60%;

        & > div.form-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            background: url("../../img/blob.svg") no-repeat center;
            width: 100%;
            height: 100%;

            & > form.form {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-flow: column;
                flex-basis: auto;
                width: 50%;
                height: 100%;
                padding: 11.5% 1px 8% 1px;

                & > .form-field {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-flow: column;
                    flex-basis: content;
                    width: 90%;
                    height: 70%;
                    margin-right: 10%;
                }

                & > .form-btn {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: 20%;

                    & > .geo-switch {
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;
                        width: 70%;
                        height: 100%;
                        margin-right: 10%;

                        & > label {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.sell-bg {
    background-image: url("../../img/sell.svg");
    background-repeat: no-repeat;
}

.give-bg {
    background-image: url("../../img/give.svg");
    background-repeat: no-repeat;
}

.discard-bg {
    background-image: url("../../img/discard.svg");
    background-repeat: no-repeat;
}