.home {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-height: 84vh;
    transition-delay: 1.3s;
    transition-duration: 0.4s;

    & > div.intro-wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;

        & > div.intro-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            justify-self: center;
            margin-top: 5%;
            width: 100%;
            height: 65%;
            z-index: 1;

            & > div.intro-title {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin-top: 5%;
                width: 50%;
                height: 100%;

                & > * {
                    color:white
                }
            }

            & > div.intro-desc {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 50%;
                height: 100%;

                & > * {
                    color:white
                }
            }
        }
    
        & > div.intro-background {
            position: absolute;
            width: 100%;
            height: 70%;
            z-index: 0;

            & > .paralax {
                background-image: url("../../img/forest.webp");
                background-attachment: fixed;
                background-position: center;
                background-size: cover;
            }
    
            & > div.intro-img {
                width: 100%;
                height: 100%;
                position: relative;
            }

            & > div.intro-wave {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                overflow: hidden;
                line-height: 0;

                &.flip {
                    transform: rotate(180deg);
                }

                & > svg {
                    position: relative;
                    display: block;
                    width: calc(144% + 1.3px);
                    height: clamp(30px, 12vh, 12vh);
                
                    & > g {
                        & > use:nth-child(1) {
                            fill: #c9baba;
                        }
                        & > use:nth-child(2) {
                            fill: #e2d5d5;
                        }
                    }
                }
            }
        }
    }

    & > div.view {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        pointer-events: none;

        & > .content {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            // overflow: hidden;
            width: 80%;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            z-index: 10;

            & > .title {
                width: 100%;
                font-size: clamp(70px, 10vw, 10vw);
                letter-spacing: 0.1em;
                padding-left: 5%;
                padding-bottom: 1rem;
                font-family: "futura_m";
                font-weight: normal;
                text-shadow: rgba(0, 0, 0, 0.274) 10px 10px 5px;
            }

            & > .desc {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                & > .container {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 60%;
                    height: 35vh;

                    .main{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: clamp(100px, 40vw, 40vw);
                        height: 60%;
                        color: rgb(8, 0, 0);
                        background: rgba(255, 255, 255, 0.733);
                        border: 1px solid rgba(255,255,255,0.3);
                        box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
                        border-radius: 20px;
                        padding: 2em;
                        z-index: 1;
                        font-size: clamp(19px, 2.2vw, 2.2vw);
                    }
                }       
                  
                & > .page {
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    // overflow-y: hidden;
                    font-size: clamp(70px, 8vw, 8vw);
                    color: #fff;
                    font-family: "Abril Fatface";
                    padding-right: 7.5%;

                    & > .page-number {
                        text-shadow: rgba(0, 0, 0, 0.274) 10px 10px 5px;
                    }
                }
            }
        }

        & > .body {

            width: 50%;
            height: 60%;
            box-shadow: 0 0 90px 4px rgba(0, 0, 0, 0.685);
            margin-left: 10%;
            border-radius: 10px;
            pointer-events: visible;
            z-index: 1;

            & > .image-wrapper {
                display: flex;
                width: 100%;
                height: 100%;
                cursor: pointer;
                transition: ease-in-out .4s;
                // overflow: hidden;

                &:hover {
                    transform: scale(1.029);
                }

                & > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
        }

        & > .view-background {
            width: 90%;
            height: 40%;
            position: absolute;
            background: #77199c9a;
            border-radius: 400px 30px 400px 30px;
            z-index:0;
        }
    }
}