.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 88vh;
    transition-duration: 0.4s;

    & > .marg {
        width: 100%;
        min-height: 8vh;
        max-height: 8vh;
        height: 8vh;
    }

    &-content {
        width: 85%;
        height: 80vh;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;

        & > .settings-user {
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;

            & > .user-wrapper {
                width: 75%;
                height: 90%;
                display: flex;
                flex-direction: column;
                border: 1px solid #333;
                border-radius: 20px;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.418);
                overflow: hidden;
                background: rgb(37, 37, 37);

                & > .user-header {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;

                    & > .user-picture {
                        width: 140px;
                        height: 140px;
                        border-radius: 50%;
                        overflow: hidden;
                        
                        label {
                            width: 100%;
                            height: 100%;
                            
                            & > img {
                                width: 100%;
                                height: 100%;
    
                                &:hover {
                                    filter: brightness(0.6) blur(2px);
                                }
                            }
                        }

                        input {
                            display: none;
                        }
                    }

                    & > .user-pseudo {
                        width: 100%;
                        height: 20%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            color: white;
                            font-size: 22px;
                        }
                    }
                }

                & > .user-choices {
                    width: 100%;
                    height: 60%;

                    & > ul {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        list-style: none;
                        overflow: hidden;
                
                        & > li {
                            width: 100%;
                
                            & > a { 
                                width: 100%;
                                color: #fff;
                                font-size: 1em;
                                text-decoration: none;
                                display: block;
                                padding: 12px 15px;
                                font-weight: 300;
                                letter-spacing: 2px;
                                border-bottom: 1px solid #333;
                                text-align: center;
                
                                &:hover {
                                    background: #111;
                                }
                            }

                            &:first-child {
                                border-top: 1px solid #333;
                            }
                        }
                
                        & > .choices-bottom {
                            position: absolute;
                            bottom: 0;

                            & > a {
                                border-top: 1px solid #333;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }

        & > .settings-options {
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            & > .options-wrapper {
                width: 90%;
                height: 85%;
                display: flex;
                flex-direction: row;
                border-radius: 20px;
                overflow: hidden;
                background: rgba(255, 255, 255, 0.247);
                border: 1px solid rgba(51, 51, 51, 0.219);

                & > .marg {
                    width: 15%;
                    height: 100%;
                }

                & > .options {
                    width: 85%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    & > .options-title {
                        width: 100%;
                        height: 15%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: center;
                        // padding-left: 80px;

                        & > h1 {
                            text-align: center;
                            font-size: 34px;
                        }
                    }

                    .options-content {
                        width: 100%;
                        height: 90%;
                        display: flex; 
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;

                        .option-block {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            gap: 2rem;

                            .email, .password {
                                &-title {
                                    width: 100%;
                                    padding-left: 20px;
                                }

                                &-fields {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    gap: .2rem;
                                }

                                &-field {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    gap: .5rem;

                                    input {
                                        width: 200px;
                                        height: 25px;
                                        border: none;
                                        border-radius: 30px;
                                        padding: 5px 10px;
                                        background: rgba(255, 255, 255, 0.411);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}