.result_container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 40%;
} 

/* .map_field {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .map_container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .leaflet-container { 
  width: 100%; */
  /* height: 50vh; */
  /* z-index: 1; */
/* } */