* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scrollbar-width: none;
    // overscroll-behavior-y: none;
}

*:focus {
    outline: none;
}

input[type="checkbox"] {
    display: none;
}

div[disabled] {
    pointer-events: none;
    opacity: 0.4;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #1c1149;

    & > body {
        overflow-x: hidden;
    }
}

.root {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    .view {
        display: flex;
        flex-direction: column;
        width: 100%;

        transition-delay: 0.15s;
        transition-duration: 0.4s;
        animation: transition ease-in-out;
    }

    .burger {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 0%;
        right: 0;
        z-index: 20;

        transition-delay: 0.15s;
        transition-duration: 0.4s;
        animation: transition ease-in-out;
    }
}