body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.invalidP, .invalidL, .invalidE, .invalidTA {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
    transition: .3s ease-in-out;
}

.validP, .validL, .validE, .validTA {
    transition: all .3s ease-in-out;
}

.validP:focus, .validL:focus, .validE:focus, .validTA:focus {
    border-color: rgb(33, 130, 241);
    box-shadow: 0 0 5px rgb(33, 130, 241);
}

input {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

section {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

textarea {
    display: block;
    resize: none;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    height: 300px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}