.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#poubelle{
    font-family: "Arial";
    background-color: white;
    border-radius: 5px;
    width:90%;
    padding: 3px;
}
#trash{
    width:100%;
    min-width:320px;
    display:flex;
    justify-content: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section{
    min-width:320px;
    width: 100%;
    flex-flow: column nowrap;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    background: url('/src/img/eco.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
}

#root{
    min-width: 320px;
    width: 100%;
}

main {
    width: 100%;
    min-width:320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-width:320px;
}

.invalidP, .invalidL, .invalidE, .invalidTA {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
    transition: .3s ease-in-out;
}

.validP, .validL, .validE, .validTA {
    transition: all .3s ease-in-out;
}

.validP:focus, .validL:focus, .validE:focus, .validTA:focus {
    border-color: rgb(33, 130, 241);
    box-shadow: 0 0 5px rgb(33, 130, 241);
}

input {
    display: flex;
    margin: 0;

    outline: 0;
    width: 90%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: flex;
    
    outline: 0;
    width: 90%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    min-width: 100px;
}

textarea {
    display: flex;
    width: 90%;

    outline: 0;
    width: 90%;
    height: 150px;
    border: 0;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

#nav{
    display: flex;
    align-items: center;
    
    width: 100%;
    min-width:320px;
    border: 0;
    
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
}

.logo {
    margin-right:auto;
}

.btn-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 95%;
    margin-left:auto;
    margin-right:auto;
}

.btn {
    border-color: black;
    background-color: #008f00;
    min-width:60px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: white;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.btn:hover{
    background-color: #006600;
    color: lightgray;
}

.btn-actif {
    border-color: black;
    background-color: white;
    min-width:60px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: #008f00;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.btn-actif:hover{
    background-color: lightgray;
}

a {
    text-decoration: none;
}

.func{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    margin-left:10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    align-content:center;
}

.footer{
    background-color: #008f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:50px;
    color: white;
    margin-top:10px;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.contact:hover{
    color: lightgray;
}

.flex{
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    border: 0;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    flex-flow:column;
    padding:0px;
    margin-top: 10px;
}

.FormGroup{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:100%;

    font-size: 17px;
    flex-flow:column;
    padding:0px;
    margin:0px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin:auto;
    outline: 0;
    max-width: 300px;
    width: 100%;
    border: 0;

    font-size: 17px;
    flex-flow:column;
}

label{
    width:90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    margin-top: 10px;
}
button{
    margin:5px;
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*////////////MENU BURGER//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.burger {
    font-size: 50px;
    text-decoration: none;
    color: #008f00;
    display: flex;
    justify-content: right;
    margin-top: 0px;
    margin-left: auto;
}
.burger:hover {
    color:#006600;
}
.burger:hover .slideFromleft {
    display: flex;
}
ul>li{
    list-style-type: none;
}
#toggle {
    display:none;
}

  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #090E6B;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  ul {
    text-align: left;
    margin-left: 25%;
  }
 ul li {
    position: relative;
    text-decoration: none;
    color: #6ecddd;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  ul li:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
ul li:hover {
    color: white;
  }
  ul li:hover:before {
    height: 100%;
  }

  #toggle:checked + .nav {
    top: 0;
    transform: scale(1);
  }