body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.invalidP, .invalidL, .invalidE, .invalidTA {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
    transition: .3s ease-in-out;
}

.validP, .validL, .validE, .validTA {
    transition: all .3s ease-in-out;
}

.validP:focus, .validL:focus, .validE:focus, .validTA:focus {
    border-color: rgb(33, 130, 241);
    box-shadow: 0 0 5px rgb(33, 130, 241);
}

input {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

section {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

textarea {
    display: block;
    resize: none;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    height: 300px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    min-width: 320px;
    width: 100%;
    background: url('/src/img/eco.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0px 0px 20px 0px;
}

main {
    width: 100%;
    min-width:320px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    min-width:320px;
}

.invalidP, .invalidL, .invalidE, .invalidTA {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
    transition: .3s ease-in-out;
}

.validP, .validL, .validE, .validTA {
    transition: all .3s ease-in-out;
}

.validP:focus, .validL:focus, .validE:focus, .validTA:focus {
    border-color: rgb(33, 130, 241);
    box-shadow: 0 0 5px rgb(33, 130, 241);
}

input {
    display: flex;
    margin: 0;

    outline: 0;
    width: 260px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

#nav{
    display: flex;
    align-items: center;
    
    width: 100%;
    min-width:320px;
    border: 0;
    
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
}

select{
    display: flex;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 10%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    min-width: 100px;
}

textarea {
    display: flex;
    width: 300px;

    outline: 0;
    width: 90%;
    height: 150px;
    border: 0;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.burger {
    font-size: 50px;
    margin-left:auto;
    text-decoration: none;
    color: #008f00;
}
.burger:hover {
    color:#006600;
}

.logo {
    margin-right:auto;
}

.btn-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 320px;
}

.btn {
    border-color: black;
    background-color: #008f00;
    width:60px;
    max-width: 200px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: white;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.btn:hover{
    background-color: #006600;
    color: lightgray;
}

.btn-actif {
    border-color: black;
    background-color: white;
    width:60px;
    max-width: 200px;
    font-size:larger;
    display:flex;
    justify-content: center;
    padding: 20px;
    color: #008f00;
    text-decoration: none !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    margin-top:10px;
}
.btn-actif:hover{
    background-color: lightgray;
}

a {
    text-decoration: none;
}

.func{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: white;
    margin-left:10px;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:large;
    align-content:center;
}

.footer{
    background-color: #008f00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height:50px;
    color: white;
}
.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.contact:hover{
    color: lightgray;
}

.flex{
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 100%;
    border: 0;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: white;
    flex-flow:column;
    padding:0px;
    margin-bottom: 10px;
}

.FormGroup{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width:300px;

    font-size: 17px;
    flex-flow:column;
    padding:0px;
    margin:0px;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin:auto;
    outline: 0;
    max-width: 300px;
    width: 100%;
    border: 0;

    font-size: 17px;
    flex-flow:column;
}

label{
    width:300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
select{
    width:200px;
}
button{
    margin:5px;
}

