.titreformdonner  {

     text-align: center;

}

.divgiveform form{
     display: flex;
     flex-direction: column;
     align-items: center;

}
.nomObjet{
     display: flex;
     flex-direction: column;
}
#commentaireDonner 
{
     resize: none;
     width: 634px; 
     height: 98px
}

.commentaire{
     display: flex;
     flex-direction: column;
}

#fieldset{
     width: 30%;
     text-align: center;
}

.giveform{
     display: flex;
     flex-flow: column wrap;
}

.btnchercher{
     width: 10%;
}

#error-message{
    display: none; 
    color: #f55;
}

.encadre-form{
     width: 30%;
}