body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.FormGroup {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

input[type]:not(:focus):invalid {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
}

input[type]:focus:invalid {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
}

input[type]:not(:focus):valid {
    border-color: rgb(128, 184, 45);
    box-shadow: 0 0 5px rgb(128, 184, 45);
}

input[type]:focus:valid {
    border-color: rgb(128, 184, 45);
    box-shadow: 0 0 5px rgb(128, 184, 45);
}

.invalid {
    border-color: crimson;
    box-shadow: 0 0 5px crimson;
}

.valid {
    border-color: rgb(128, 184, 45);
    box-shadow: 0 0 5px rgb(128, 184, 45);
}

input {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 400px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

section {
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

select{
    display: block;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 17px;
    border: 1px solid rgba(0,0,0,0.3);
}

textarea {
    display: block;
    resize: none;
    margin: 10px 20px 20px 20px;
    outline: 0;
    width: 90%;
    height: 300px;
    border: 0;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 16.5px;
    border: 1px solid rgba(0,0,0,0.3);
}