.page-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.purple {
    background-color: #210459;
}

.darkblue {
    background-color: #213546;
}

.darkpurple {
    background-color: #1c1149;
}