@keyframes flip {
    0% { transform: rotateY(0deg);   }
  100% { transform: rotateY(180deg); }
}

.card {
    transform: translate3d(0, 0, 0);
    width: 45%;
    height: 40%;

    &-content {
        position: relative;
        transform-style: preserve-3d;
        animation: flip 0.5s 1 forwards paused;
        width: 100%;
        height: 100%;

        .front, .back {
            display: flex;
            position: absolute;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            backface-visibility: hidden;
            transform: rotateX(0deg);

            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.247);
            border: 1px solid rgba(255,255,255,0.3);
            box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
            border-radius: 20px;
        }

        .front > img {
            width: 60%;
            height: 60%;
        }

        .back {
            transform: rotateY(180deg);

            h4 {
                text-align: center;
            }

            p {
                text-align: center;
                padding: 10px;
            }
        }
    }

    &-content.flipped { animation-play-state: running; }
}