@mixin animate-wave($delay, $duration, $color) {
    animation-delay: $delay;
    animation-duration: $duration;
    fill: $color;
}

@keyframes wave {
    0% { transform: translate3d(-90px,0,0); }
  100% { transform: translate3d(85px,0,0);  }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 12vh;
    z-index: 10;

    &:hover {
        & > .footer-content { background-color: rgba(255, 214, 127); }

        & > .footer-waves > .waves > .layers {
            & > use:nth-child(1) { fill: rgba(255, 214, 127, 0.7); }
            & > use:nth-child(2) { fill: rgba(255, 214, 127, 0.5); }
            & > use:nth-child(3) { fill: rgba(255, 214, 127, 0.3); }
            & > use:nth-child(4) { fill: rgba(255, 214, 127);      }
        }
    }

    &-waves {
        width: 100%;
        height: 50%;

        & > svg {
            width: 100%;
            height: 100%;

            .layers {
                & > use { animation: wave 25s cubic-bezier(.55,.5,.45,.5) infinite;  }
                & > use:nth-child(1) { @include animate-wave(-2s,  7s, #e2d5d5b3); }
                & > use:nth-child(2) { @include animate-wave(-3s, 10s, #e2d5d580); }
                & > use:nth-child(3) { @include animate-wave(-4s, 13s, #e2d5d54d); }
                & > use:nth-child(4) { @include animate-wave(-5s, 20s, #e2d5d5);   }
            }
        }
    }

    &-content {
        width: 100%;
        height: 50%;
        background-color: #e2d5d5;

        & > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: black;
        }
    }
}