.form-docker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 100%;

        & > .content-d {
            width: 80%;
            transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
            appearance: none;
            background: linear-gradient(120deg, rgba(102, 90, 122, 0.822), rgba(255, 255, 255, 0.288));
            border: 0.1px solid rgb(77, 68, 92);
            font-size: 15px;
            padding: 5px 5px 5px 10px;
            border-radius: 15px;
            color: white;
            box-sizing: border-box;

            &:focus {
                outline: none;
                color: white;
                margin-top: 15px;
            }

            &:valid {
                margin-top: 15px;
            }

            &:focus ~ label {
                transform: translate(0, -17.5px)
            }
            
            &:valid ~ label {
                transform: translate(-5px, -17.5px) scale(0.75);
            }

            & ~ label {
                width: 100%;
                left: 10%;
                justify-self: flex-end;
                transition: all 0.25s cubic-bezier(.53,.01,.35,1.5);
                transform-origin: left;
                position: absolute;
                color: #d8d8d8b0;
                font-weight: 100;
                letter-spacing: 0.05em;
                font-size: 15px;
                padding: 10px 15px;
                display: block;
                pointer-events: none;
                z-index: 1;
            }
        }
    }
}