.second-design {
    padding-top: 20px;
    width: 80%;
    
    &-content {
        position: relative;

        .design-field {
            width: 100%;
            height: 30px;

            border: none;
            background: none;
            border-bottom: 1px solid rgb(112, 112, 112);
            color: white;

            &:focus, &:valid {
                & ~ label {
                    color: #2962ff;;
                    transform: translateY(-20px);
                    font-size:0.825em;
                }
            }

            &:focus ~ .simple-underline { width: 100%; }
        }

        & > label {
            display: block;
            position: absolute;
            pointer-events: none;
            transition: all 250ms ease-out;

            width: 66%;
            margin-top: 5px;
            top:0;
            color: rgb(112, 112, 112);
            z-index: 1;
        }

        .simple-underline {
            position: absolute;
            transition: all 225ms ease-out;
            width: 0;
            height: 1px;
            bottom: 0;
            left:0;
            background: #2962ff;;
        }
    }
}