.header {   
    display: flex;
    position: fixed;
    transition-delay: 0.15s;
    transition-duration: 0.4s;
    width: 100%;
    height: 8vh;
    box-shadow: inset 5px 0 40px -20px #ffffff;
    z-index: 10;

    &-logo {
        width: 30%;
        height: 100%;

        & > a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform .4s;
            height: 100%;
            width: 55%;

            & > img {
                object-fit: contain;
                width: 80%;
                height: 80%;
            }

            &:hover { transform: scale(1.05); }
        }
    }

    &-nav {
        display: flex;
        justify-content: flex-end;
        width: 70%;
        height: 100%;

        .nav__content { 
            display: flex;
            text-align: center;
            width: 50%;
            height: 100%;

            & > li { 
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;

                & > a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: ease-in-out .3s;
                    width: 100%;
                    height: 100%;

                    & > span {
                        padding: 7px;
                    }
                }
            }
        }

        .nav__nut {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 100%;

            &-content {
                width: 55px;
                height: 55px;
                border-radius: 100%;

                & > label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition-duration: .8s;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    & > img {
                        object-fit: contain;
                        width: 50%;
                        height: 60%;
                    }
                }

                &:hover { background-color: rgba(255, 214, 127, 0.568); }
            }
        }
    }
}