@mixin text-state($content, $duration) {
    transition: $duration cubic-bezier(0.18, 0.89, 0.35, 1.15);
    content: attr($content);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;

    &-checkbox:checked ~ &-content {
        background-color: rgb(55, 168, 172);
        
        .switch-state {
            &:before { opacity: 0; }
            &:after  { opacity: 1; }

            & > span.ball {
                left: -20px;
                padding: 50%;
                background-color: rgb(55, 168, 172);
            }
        }
    }

    &-content {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        transition: 1s cubic-bezier(0.18, 0.89, 0.35, 1.15);
        width: 80px;
        height: 30px;
        background-color: #213546;
        border-radius: 20px;
        border: solid 3px rgb(55, 168, 172);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.37);
        cursor: pointer;

        .switch-state {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 100%;

            &:before {
                position: absolute;
                right: calc(0% + 15%);
                color: rgb(55, 168, 172);
                @include text-state(data-off, 0.7s);
            }

            &:after {
                opacity: 0;
                color: white;
                z-index: 1;
                @include text-state(data-on, 0.8s);
            }

            & > span.ball {
                position: absolute;
                padding: 13%;
                left: 4%;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.726);
                transition: 1.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
            }
        }
    }
}