.trash {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 84vh;
    transition-delay: 1.3s;
    transition-duration: 0.4s;
    background-color: rgb(53, 53, 53);

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        height: 72.5%;

        & > .trash-color {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
}

.blue {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem blue) saturate(1000%);
}

.yellow {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem yellow) saturate(1850%);
}

.green {
    filter: opacity(0.5) drop-shadow(0 0 0.001rem green) saturate(1000%);
}